</div>

<div style="margin: 20px 0; height: 1px; background: rgba(79, 79, 79, 0.15);"></div>
<div>
  <h2 style="color: #202742;
      font-family: Inter, Arial, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;">
    We’re always here to help
  </h2>
  <p style="color: #4F4F4F;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-align: left;">
    For any questions or concerns regarding your PROJECT account or if you need further
    assistance, please feel free to contact our support team at <br />
    <span style="color: #FE9D04;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-decoration: none !important;">
      support@project&#173;.com
    </span>
    or
    <span style="color: #FE9D04;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;">
      800-216-3608
    </span>.
    <br /> We're here to help!
    <br /><br />Thank you for using PROJECT.
    <br /><br />Best regards,
    <br />The PROJECT Team
  </p>
</div>

</td>
</tr>
</table>
</td>
</tr>
</table>
<div style="width: 600px;
      background: #202742;
      text-align: center;
      padding: 30px 0;">
  <!-- Social Icons -->
  <div style="margin: 16px;">
  </div>
  <div>
    <p style="color: #FFF;
      text-align: center;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      padding: 0 24px;">Copyright @<%= new Date().getFullYear(); %> PROJECT. All rights reserved.<br />
        You are receiving this email because you opted in via our website.</p>
    <a style="color: #FE9D04;
      text-align: center;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      text-decoration-line: underline;" href="https://dev.project.com" target="_blank">Unsubscribe</a>
  </div>
</div>
</body>

</html>