<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="email=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
  <!-- <style>
    /* Logo Style */
    .logo {
      width: 7.35713rem;
      height: 2.25rem;
      padding-right: 0.004rem;
    }

    /* URL on header style */
    .header_url {
      color: var(--9-f-9-f-9-f, #9F9F9F);
      font-family: Inter, Arial, sans-serif;
      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .wraper {
      width: 600px;
      /* height: 600px; */
      /* padding: 64px 100px; */
      /* position: absolute; */
      /* top: 50%; */
      /* left: 50%; */
      /* transform: translate(-50%, 10%); */
      /* text-align: center; */
    }

    /* Table*/
    .table_wraper {
      width: 100%;
      background-color: #ffffff;
      border-radius: 8px;
      border: none;
      /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
      /* border-collapse: collapse; */
    }


    .table {
      width: 100%;
      border: none;
      /* border-collapse: collapse; */
    }

    .header_tr {
      align-self: center;
    }

    .left_align {
      text-align: left;
    }

    .right_align {
      text-align: right;
    }

    /* Others*/
    body {
      background-color: #ffffff;
      font-family: Inter, Arial, sans-serif;
      width: 600px;
      word-wrap: break-word;
    }

    h1 {
      color: #202742;
      font-family: Inter, Arial, sans-serif;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    h2 {
      color: #202742;
      font-family: Inter, Arial, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    p,
    li {
      color: #4F4F4F;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-align: left;
      /* 162.5% */
    }

    button {
      color: #FFF;
      font-feature-settings: 'ss11' on, 'cv09' on, 'liga' off, 'calt' off;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: -0.084px;
      margin: 16px 0;
      padding: 10px 18px;
      background: #FE9D04;
      border: none;
      border-radius: 10px;
      cursor: pointer;
    }

    .border {
      margin: 20px 0;
      height: 1px;
      background: rgba(79, 79, 79, 0.15);
    }

    .footer {
      width: 600px;
      background: #202742;
      text-align: center;
      padding: 30px 0;
    }

    .social_wraper {
      margin: 16px;
    }

    .social_icon {
      margin: 12px;
    }

    .footer_text {
      color: #FFF;
      text-align: center;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      padding: 0 24px;
    }

    .unsubscribe {
      color: #FE9D04;
      text-align: center;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 26px;
      text-decoration-line: underline;
    }

    .code {
      padding: 10px 18px;
      text-align: center;
      border-radius: 10px;
      border: 1px solid rgba(79, 79, 79, 0.15);
    }

    .text_orange {
      color: #FE9D04;
      font-family: Inter, Arial, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
    }
  </style> -->
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
  <table cellpadding="0" cellspacing="0" width="100%" style="background-color: #f4f4f4;">
    <tr>
      <td align="center" style="padding: 20px;">
        <table cellpadding="0" cellspacing="0" width="600"
          style="background-color: #ffffff; border-radius: 8px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
          <tr>
            <td align="center">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="padding: 20px; align-items: center;">
                    <table cellpadding="0" cellspacing="0" style="width: 100%;
      background-color: #ffffff;
      border-radius: 8px;
      border: none;">
                      <tr>
                        <td>
                          <div>
                            <table style="width: 100%; border: none;">
                              <tr style="align-self: center;">
                                <td style="text-align: left;">
                                  
                                </td>
                                <td style="text-align: right;">
                                  <span style="color: #9F9F9F;
                        font-family: Inter, Arial, sans-serif;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none !important;">
                                    www­&#173;.project&#173;.com
                                  </span>
                                </td>
                              </tr>
                            </table>
                          </div>

                          <div style="margin: 20px 0; height: 1px; background: rgba(79, 79, 79, 0.15);"></div>
                          <div>